
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="d-flex">
<div class="col-6">
    <div class="card m-2  h-100 d-flex align-items-stretch">
        <div class="card-body d-flex justify-content-center align-items-center">
            <div><img src="{{car.image.url}}" class="card-img-top" alt="..." style="width:50%;"></div>  
        </div>
    </div>
</div>
<div class="col-6">
    <div class="card m-2  h-100 d-flex align-items-stretch">
        <div class="card-body" style="width:50%;">
            <h1 class="card-title">{{car.name}}</h1>
            <p>Price : TK {{car.price}}</p>
            <p>Quantity :  {{car.quantity}}</p>
            <p>Description : {{car.content}}</p>
            <p>Brand : {{car.brand}}</p>
            {% if request.user.is_authenticated %}
            <button class="btn btn-primary"><a class="text-decoration-none text-white" href="{%  url 'buy_car' car.id %}">Buy Now</a></button>
            {% endif %}
        </div>
    </div>
</div>
</div>

<div class="card m-2 mt-3">
    <h5 class="p-3">Total Comments : {{comments | length}}</h5>
    {% for comment in comments %}
  <div class="card-body border m-2">
        <p><b>{{comment.name}}</b> {{comment.created_on}}</p>
        <p>{{comment.body}}</p>
    </div>
    {% endfor %}
</div>
<div class="card m-2">
    <div class="card-body">
        <form method="post">
            <h1>Add Comment</h1>
            {% csrf_token %}
            {{comment_form | crispy}}

            <button type="submit" class="btn btn-warning">Submit</button>
    </div>
</div>
{% endblock %}