{% extends "base.html" %}
{%  load crispy_forms_tags  %}
{% block content %}

<div>

    <a class="btn btn-primary p-3 m-3" href="{% url 'Edit_profile' %}">Edit Profile</a>

</div>
<h2>Your purchased cars</h2>
{% if purchased_cars %}
<div class="d-flex flex-wrap justify-content-center px-5 pt-5">
  {% for car in purchased_cars %}
    <div class="col-sm-3">
      <div class="card mx-2">
        <div class="card-body">
          {% if car.image %}
          <img class="card-img-top" src="{{ car.image.url }}" alt="Card image cap">
          {% endif %}
          <h5 class="card-title">{{car.name}}</h5>
          <h5 class="card-title">Price : Tk {{car.price}}</h5>
          <h5 class="card-title">Brand : {{car.brand}}</h5>
          <a href="{%  url 'edit_cars' car.id %}" class="btn btn-primary">Edit</a>
          <a href="{% url 'delete_cars' car.id %}" class="btn btn-warning">Delete</a>
          <button class="btn btn-danger m-3"><a href="{% url 'details_cars' car.id %}" class="text-decoration-none text-light p-5">View Detalis</a></button>
        </div>
      </div>
    </div>
    {% endfor %} 
  </div> 
{% else %}
  <p>You haven't purchased any cars yet.</p>
{% endif %}
  

{% endblock%}

